version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: EcoHub
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: EcoHubDb
      MYSQL_USER: vishal
      MYSQL_PASSWORD: mysecretpassword
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mysql_data: